:root {
    --border-btn: 3px solid white;
    --border-toggle-btn: 3px solid #ff7473;
    --transition-duration: 0.5s;
    --white-text: white;
    --red-button-text: #ff7473;
    --red-text: #ff7473;
    --white-header-footer: white;
    --red-container: #ff7473;
}

:root.dark {
    --border-btn: 3px solid white;
    --border-toggle-btn: 3px solid white;
    --white-text: white;
    --red-text: white;
    --red-button-text: rgb(18,18,18);
    --transition-duration: 0.5s;
    --white-header-footer: rgb(48,49,54);
    --red-container: rgb(32,34,37);
}


:root.light {
    --border-btn: 3px solid white;
    --border-toggle-btn: 3px solid #ff7473;
    --transition-duration: 0.5s;
    --white-text: white;
    --red-button-text: #ff7473;
    --red-text: #ff7473;
    --white-header-footer: white;
    --red-container: #ff7473;
}

:root.break {
    --border-btn: 3px solid white;
    --border-toggle-btn: 3px solid #0075C4;
    --transition-duration: 0.5s;
    --white-text: white;
    --red-button-text: #0075C4;
    --red-text: #0075C4;
    --white-header-footer: white;
    --red-container: #0075C4;
}

html, body, button {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

html,body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

body, .header, .container {
    transition: var(--transition-duration);
}

div {
    cursor:default;
}

body {
    display: grid;
    grid-template-rows: 0.7fr 7fr 0.7fr;
    background-color: var(--red-container);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--red-container);
    align-items: center;
    width: 100vw
}

.title {
    color: var(--white-text);
    font-weight: 900;
    text-align: center;
    margin-left: 1vw;
}

.theme-toggle {
    background-color: var(--white-header-footer);
    color: var(--red-text);
    border: 0;
    border-radius: 50px;
    margin-right: 1vw;
}

.theme-toggle svg {
    width: 2vw;
    height: 2vh;
    padding: 10px 10px;
    min-width: min-content;
}

.theme-toggle:hover {
    background-color: var(--red-container);
    color: var(--white-text);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red-container);
    width: 100vw;
    gap: 1vw;
    flex-wrap: wrap;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255,0.25);
    border-radius: 8px;
    padding: 5vh 5vw;
    gap: 1vh;
}

.add_time, .subtract_time {
    display: flex;
    gap: 0.5vw;
}

.container > *, .button {
    color: var(--white-text);
    margin: 0;
}

@media (min-width: 0px) {
    .title { font-size: 1rem; }
  }
  @media (min-width: 400px) {
    .timer { font-size: 1.25rem; }
  }
@media (min-width: 1001px){
    .title { font-size: 1.5rem; }
}

@media (min-width: 0px) {
    .timer { font-size: 5rem; }
  }
  @media (min-width: 400px) {
    .timer { font-size: 7rem; }
  }
@media (min-width: 1001px){
    .timer { font-size: 10rem; }
}

.status {
    font-size: 1.3rem;
    font-weight: 900;
}

.timer {
    font-weight: 900;
}

button {
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 1vw;
    min-width: 20vw;
}

.button {
    background-color: white;
    color: var(--red-container);
    border: var(--border-btn);
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 10px 20px;
    min-width: 10vw;
    font-weight: 900;
}

.increment {
    background-color: rgb(255,255,255,0.25);
    color: white;
    border: var(--border-btn);
    border-radius: 30px;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 900;
}

.button:hover, .increment:hover {
    background-color: var(--red-container);
    color: var(--white-text);
}

:hover {
    transition: 0.5s
}
