:root {
    --border-btn: 3px solid white;
    --color-base-bg: #ff7473;
    --color-base-text: white;
    --color-btn-bg: #ff7473;
    --hover-btn-bg: white;
    --hover-btn-text: #ff7473;

    --toggle-btn-bg: white;
    --border-toggle-btn: 3px solid #ff7473;
    --toggle-btn-text: #ff7473;
    --toggle-hover-bg: #ff7473;
    --toggle-hover-text: white;

    --header-footer-bg: white;
    --color-footer-text: #ff7473;
}

:root.dark {
    --border-btn: 3px solid white;
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: white;
    --color-btn-bg: rgb(18, 18, 18);
    --hover-btn-bg: white;
    --hover-btn-text: rgb(18,18,18);

    --toggle-btn-bg: rgb(18, 18, 18);
    --border-toggle-btn: 3px solid white;
    --toggle-btn-text: white;
    --toggle-hover-bg: white;
    --toggle-hover-text: rgb(18,18,18);

    --header-footer-bg: rgb(18, 18, 18);
    --color-footer-text: white;
}


:root.light {
    --border-btn: 3px solid white;
    --color-base-bg: #ff7473;
    --color-base-text: white;
    --color-btn-bg: #ff7473;
    --hover-btn-bg: white;
    --hover-btn-text: #ff7473;

    --toggle-btn-bg: white;
    --border-toggle-btn: 3px solid #ff7473;
    --toggle-btn-text: #ff7473;
    --toggle-hover-bg: #ff7473;
    --toggle-hover-text: white;

    --header-footer-bg: white;
    --color-footer-text: #ff7473;
}

html,body {
    height: 100vh;
    margin: 0;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: .5fr 10fr .5fr;
    background-color: var(--header-footer-bg);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1vw;
    background-color: var(--header-footer-bg);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base-bg);
    gap: 1vh;
}

.container > *, .button {
    color: var(--color-base-text);
    margin: 0;
}

.title {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
}

.status {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}

.timer {
    font-size: 9rem;
    font-weight: 900;
}

button {
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 1vw;
    min-width: 20vw;
}

.theme-toggle {
    background-color: var(--toggle-btn-bg);
    color: var(--toggle-btn-text);
    border: var(--border-toggle-btn);
    border-radius: 8px;
}

.theme-toggle:hover {
    background-color: var(--toggle-hover-bg);
    color: var(--toggle-hover-text);
}

.button {
    background-color: var(--color-base-bg);
    border: var(--border-btn);
    border-radius: 8px;
}

.button:hover {
    background-color: var(--hover-btn-bg);
    color: var(--hover-btn-text);
}

.footer {
    background-color: var(--header-footer-bg);
    color: var(--color-footer-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
}